@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Open Sans', sans-serif;
	color: #666;
}

/* STRUCTURE */

#pagewrap {
	padding: 5px;
	/*width: 960px;*/
	width: 90%;;
	margin: 20px auto;
}
header {
	height: 100px;
	padding: 0 15px;
	text-align: center;
}
#left-side
{
	/*width: 290px;*/
	width: 15%;
	float: left;
	padding: 5px 15px;
	height: 100%
}

#middle {
	/*width: 294px; !* Account for margins + border values *!*/
	width: 69%;
	padding: 5px 15px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

#right-side
{
	/*width: 270px;*/
	width: 15%;
	padding: 5px 15px;
	float: right;
	height: 100%;
}
footer {
	clear: both;
	padding: 0 15px;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {

	#pagewrap {
		width: 94%;
	}
	#left-side
	{
		width: 41%;
		padding: 1% 4%;
	}
	#middle {
		width: 41%;
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;
		float: right;
	}

	#right-side
	{
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}

	header, footer {
		padding: 1% 4%;
	}
}

/* for 700px or less */
@media screen and (max-width: 600px) {

	#left-side
	{
		width: auto;
		float: none;
	}

	#middle {
		width: auto;
		float: none;
		margin-left: 0px;
	}

	#right-side
	{
		width: auto;
		float: none;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

	header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}
	#right-side
	{
		display: none;
	}

}


#left-side
{
	background: #f8f8f8;
}
#right-side
{
	background: #f0efef;
}
header, #left-side, #middle, #right-side
{
	margin-bottom: 5px;
}

#pagewrap, header, #left-side, #middle, #right-side, footer {
	border: solid 1px #ccc;
}