@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Open Sans', sans-serif;
	color: #666666;
}

/* STRUCTURE */

header {
	height: 100px;
	padding: 0 15px;
	text-align: center;
}

#pagewrap {
	padding: 5px;
	width: 90%;;
	margin: 20px auto;
}

#left-side {
	width: 15%;
	float: left;
	padding: 5px 5px;
	height: 100%
}

#left-side #filter-settings {
	width: 95%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#pictureTags {
	width: 100%;
}

#start-button {
	margin: 5px;
}

#middleSection {
	width: 84%;
	padding: 5px 15px;
	margin-top: 5px;
	margin-left: auto;
}

#search-results {
	list-style-type: none;
	margin-left: -50px;
}

#searchResults li {
	padding: 10px 0;
	border-bottom: 1px #000 dotted;
	list-style: none;
	overflow: auto;
}

/* Search Results Styling */

#results {
	border: 1px black solid;
}

.list-left {
	float: left;
	width: 20%;
	padding: 5px;
}

.list-left img {
	width: 100%;
	padding: 3px;
	border: solid #ccc 1px;
	margin-left: auto;
}

.list-right {
	float: right;
	width: 79%;
}

.photographer {
	color: #dd2826
}

.photo-sizes ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.photo-sizes li {
	float: left;
}

.photo-sizes li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.photo-sizes li a:hover {
	background: black;
	color: white;

}

/* Misc */

#left-side
{
	background: #f8f8f8;
}

header, section, #left-side {
	margin-bottom: 5px;
}

#pagewrap, header, #left-side, #middleSection, footer {
	border: solid 1px #ccc;
}

footer {
	clear: both;
	padding: 15px;
}

/* Navigation Buttons */

#navigationButtons {
	margin: 0 auto;
}

.navigation-buttons {
	list-style-type: none;
	text-align: center;
	padding: 5px;
}

.navigation-buttons li {
	display: inline;
	padding: 5px;
}


/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {

	#pagewrap {
		width: 94%;
	}

	#left-side {
		width: 30%;
		padding: 1% 4%;
	}

	#middleSection {
		width: 69%;
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;
		float: right;
	}

	header, footer {
		padding: 1% 4%;
	}
}

/* for 700px or less */
@media screen and (max-width: 600px) {

	#left-side {
		width: auto;
		float: none;
	}

	#middleSection {
		width: auto;
		float: none;
		margin-left: 0px;
	}

	#searchResults .list-left {
		float: left;
	}

	#searchResults .list-right {
		float: left;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

	header {
		height: auto;
	}

	h1 {
		font-size: 2em;
	}
}